@model Game

<h1 class="text-center">Enter New Game</h1>

<div class="container mt-5">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="gameDate" class="control-label">Game Date</label>
            <input asp-for="gameDate" class="form-control" />
            <span asp-validation-for="gameDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="opponent" class="control-label">Opponent</label>
            <input asp-for="opponent" class="form-control" />
            <span asp-validation-for="opponent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="score" class="control-label">Score</label>
            <input asp-for="score" class="form-control" />
            <span asp-validation-for="score" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="posessionStat" class="control-label">Possession Stat (%)</label>
            <input asp-for="posessionStat" class="form-control" />
            <span asp-validation-for="posessionStat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="shotsStat" class="control-label">Shots Stat</label>
            <input asp-for="shotsStat" class="form-control" />
            <span asp-validation-for="shotsStat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SavesStat" class="control-label">Saves Stat</label>
            <input asp-for="SavesStat" class="form-control" />
            <span asp-validation-for="SavesStat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="foulsStat" class="control-label">Fouls Stat</label>
            <input asp-for="foulsStat" class="form-control" />
            <span asp-validation-for="foulsStat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="filmURL" class="control-label">Game Film URL</label>
            <input asp-for="filmURL" class="form-control" />
            <span asp-validation-for="filmURL" class="text-danger"></span>
        </div>

        <div class="form-group text-center" style="line-height: 69px;">
            <button type="submit" class="btn btn-primary">Add New Game</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
